<div id="education">
    <div>
<h1>Educational Qualification</h1>
    <table border="10px">
            <tr>
                <td>
                    <h3>•BE (ECE), 7.9 (CGPA), 2021 &nbsp;</h3>  </td> 
                <td>   <h5> BMS Institue of Technology(BMSIT)Bangalore,<br>
                        Visvesvaraya Technological University, Belgaum. <br></h5> </td>
            
            </tr>
            
            <tr>
                <td>
                   <h3> DIPLOMA, 78.01%, 2018</h3>  </td>
                <td>  <h5> BGS Polytechnic,chickkballapur <br>
                    DTE Board, Karnataka. <br> </h5> 
                </td>
            </tr>
            <tr>
                <td>
                  <h3>  •SSLC,60%, 2015</h3> </td>
                <td>   <h5> PPHS,chickkballapur <br>
                          Karnataka Secondary Education Examination Board (KSEEB). <br> </h5>
                </td>
            </tr>
    </table>
</div>   
</div>